<div class="mainContainer">
    <div class="filters">

        <h3 class="tittle">Filtros</h3>

        <div class="dates">
            <section style="align-self: center;" (click)="$event.stopPropagation()">
                <label>{{checked? "Rango de fechas": "Fecha única"}}</label>
                <mat-slide-toggle 
                    appearance="outline" 
                    (change)="changeState($event)" 
                    color="primary" 
                    [checked]= "checked"
                >
                </mat-slide-toggle>
            </section>
    
            <mat-form-field appearance="outline">
                <input matTooltip="Presione el Icono" matInput [matDatepicker]="startDate" placeholder="Ingrese una fecha" [(ngModel)]="start_Date" disabled >
                <mat-datepicker-toggle matSuffix [for]="startDate" ></mat-datepicker-toggle>
                <mat-datepicker #startDate disabled="false"></mat-datepicker>
            </mat-form-field>
            
            <mat-form-field *ngIf="checked == true" appearance="outline"> 
                <input matTooltip="Presione el Icono" matInput [matDatepicker]="endDate" [matDatepickerFilter]="dateFilter" placeholder="Ingrese una fecha" [(ngModel)]="end_Date" disabled >
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker  #endDate [disabled]="start_Date == undefined" [startAt]="start_Date"></mat-datepicker>
            </mat-form-field>
    
            <mat-form-field  appearance="outline">
                <mat-label>Hora Inicial</mat-label>
                <input type="time" matInput [(ngModel)]="time" matToolTip="Hora" >
            </mat-form-field>
        </div>

        <mat-form-field appearance="outline" style="width: 40%;">
            <mat-label>Nombre del invitado</mat-label>
            <input
                matInput
                type="text"
            >
        </mat-form-field>

        <mat-form-field style="width: 20%;">
            <mat-label>Nombre del producto</mat-label>
            <mat-select>
              <mat-option *ngFor="let element of productos" [value]="element">
                {{element}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 20%;">
            <mat-label>Tipo de producto</mat-label>
            <mat-select>
              <mat-option *ngFor="let element of tipoProductos" [value]="element">
                {{element}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <div style="width: 100%;">
            <h3 class="tittle2">Opcional:</h3>
        </div>
    
        <div  class="chip-list">
            <mat-form-field class="chip-list" appearance="outline">
              <mat-chip-list #chipList>
                <mat-chip class="chip"
                  *ngFor="let recurso of recursos"
                  [selectable]="selectable"
                  [removable]="removable">
                  {{recurso}}
                  <i matChipRemove class="material-icons" (click)="remove(recurso)">cancel</i>
                </mat-chip>
                <input
                  placeholder="Seleccione los recursos"
                  #tagInput
                  [matChipInputFor]="chipList"
                  [matAutocomplete]="auto"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let r of filteredRecursos " [value]="r">
                  {{r}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
        </div>

        <div style="width: 100%; display: flex; justify-content: center; margin: auto auto 1% auto;">
            <button style="background-color: #0072D4; color: white;" mat-raised-button >
                <i class="material-icons">search</i>Filtrar
            </button>
        </div>
    </div>


    <div> 

    </div>

</div>


