.mainContainer{
    width: 90%;
    margin: 4% auto auto auto;
} 

.booking{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: solid 1.5px  #0072D4;
    border-radius: 10px;
}


.mat-table{
    width: 100%;
}

.filters{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: solid 1.5px  #0072D4;
    border-radius: 10px;
}

.dates{
    display:flex; 
    justify-content: space-evenly; 
    width: 100%; 
    margin: 1% auto auto auto;
}

.tittle{
    text-align: center; 
    width: 100%; 
    background-color: #0072D4;
    color: white; margin: 0%; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
}

.tittle2{
    width: 10%; 
    background-color: #0072D4;
    color: white; margin: 0%; 
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px;
    padding-left: 2%;
    margin-bottom: 1%;
}

.chip-list{
    width: -webkit-fill-available; 
    padding: 0% 3% 0% 3%;
}